.thoughts {
    position: relative;
    height: 100vh;
    color: #fff;
}

.credo {
    position: absolute;
    top: 45%;
    left: 5%;
    font-family: var(--font-lora);
    font-size: 35px;
    text-shadow: 2px 2px 1px black;

}

.thoughts__text {
    position: absolute;
    top: 20%;
    left: 65%;
    font-family: var(--font-allison);
    font-size: 44px;
    p {
        text-shadow: 2px 2px 1px black;
    }
}


@media (max-width: 768px) {
    .credo {
        font-size: 25px;
    }

    .thoughts__text {
        font-size: 34px;
    }
}


@media (max-width: 600px) {

    .credo,
    .thoughts__text {
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);

    }

    .credo {
        top: 20%;
        font-size: 35px;

    }

    .thoughts__text {
        top: 45%;
        font-size: 44px;

    }

}

@media (max-width: 320px) {

    .credo {
        font-size: 30px;
    }

    .thoughts__text {
        font-size: 40px;
    }

}
