.thoughts {
    position: relative;
    height: 100vh;
    color: #8E5454;
}

.credo {
    top: 45%;
    left: 5%;
    font-family: var(--font-lora);
    font-size: 35px;
}

.thoughts__text {
    top: 20%;
    left: 65%;
    font-family: var(--font-allison);
    font-size: 44px;
}

