.name_page {
    width: 100%;
    height: 50px;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    font-family: var(--navbar-font);
}

.about_section {
    width: calc(100vw - 40px);
    height: calc(56.25vw - 22.5px);
    margin-top: 60px;
    margin-left: 9px;
    position: relative;
}

.about_title {
    position: absolute;
    font-size: 46px;
    font-family: var(--navbar-font);
    text-shadow: black 1px 1px;
}

.about_text {
    position: absolute;
    font-family: var(--font-allison);
    font-size: 30px;
    text-shadow: black 1px 1px;
}

.title_1 {
    top: 5vw;
    left: 12vw;
}

.text_1 {
    bottom: 12.5vw;
    right: 15vw;
}

.title_2 {
    bottom: 8vw;
    left: 7vw;
}

.text_2 {
    bottom: 22vw;
    right: 10vw;
}

.title_3 {
    top: 7vw;
    left: 17vw;
}

.text_3 {
    bottom: 5vw;
    right: 5vw;
}

@media (max-width: 935px) {
    .about_title {
        font-size: 36px;
    }

    .about_text {
        font-size: 20px;
    }

}

@media (max-width: 725px) {

    .name_page {
        font-size: 36px;
    }

    .title_1 {
        top: 5vw;
        left: 8vw;
    }

    .text_1 {
        bottom: 8.5vw;
        right: 10vw;
    }

    .title_2 {
        bottom: 8vw;
        left: 5vw;
    }

    .text_2 {
        right: 7vw;
    }

    .title_3 {
        top: 7vw;
        left: 11vw;
    }

    .text_3 {
        bottom: 5vw;
        right: 3vw;
    }
}

@media (max-width: 600px) {
    .about_title {
        font-size: 30px;
    }

    .about_text {
        font-size: 16px;
    }
}

@media (max-width: 500px) {

    .name_page {
        font-size: 30px;
    }

    .title_1 {
        top: 3vw;
        left: 5vw;
    }

    .text_1 {
        bottom: 5vw;
        right: 6vw;
    }

    .title_2 {
        bottom: 5vw;
        left: 3vw;
    }

    .text_2 {
        right: 4vw;
    }

    .title_3 {
        top: 4vw;
        left: 7vw;
    }

    .text_3 {
        bottom: 3vw;
        right: 1vw;
    }
}

@media (max-width: 430px) {
    .about_title {
        font-size: 24px;
    }

    .about_text {
        font-size: 12px;
    }
}

@media (max-width: 380px) {

    .name_page {
        font-size: 22px;
    }

    .about_title {
        font-size: 18px;
    }

    .about_text {
        font-size: 8px;
    }

    .title_1 {
        top: 1.5vw;
        left: 2.5vw;
    }

    .text_1 {
        bottom: 2.5vw;
        right: 3vw;
    }

    .title_2 {
        bottom: 2.5vw;
        left: 1.5vw;
    }

    .text_2 {
        right: 2vw;
    }

    .title_3 {
        top: 2vw;
        left: 3.5vw;
    }

    .text_3 {
        bottom: 1.5vw;
        right: 0.5vw;
    }

}


