@use "variables/global";
@use "normalize";
@use "aspect-ratio";
@use "nav-bar";
@use "Sections/Page 1/thoughts";
@use "footer";
@use "about_styles";
@use "work_styles";
@use "contacts_styles";
@use "portfolio_styles";
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
     scroll-behavior: smooth;
}

body {
    background-color: #0a0e14;
    color: white;
    font-family: var(--font-lora);
}

[x-cloak] {
    display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
    border-color: green !important;
}

.light-mode input:-webkit-autofill,
.light-mode input:-webkit-autofill:hover,
.light-mode input:-webkit-autofill:focus,
.light-mode input:-webkit-autofill:active{
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
    border-color: green !important;
}

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:active{
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 30px var(--dark) inset !important;
    border-color: green !important;
    font-weight: bolder !important;
}

