.container_footer {
    width: 100%;
    height: 160px;
    background-image: linear-gradient(#0a0e14 0%, #e9e7f530 50%, #0a0e14 100%);
    display: flex;
    color: #ffffffd0;
    font-family: var(--navbar-font);
    margin-top: 35px;
    position: relative;
}

.data_footer {
    width: 50%;
    height: 100%;
    text-align: center;
}

.data_footer_center {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
}

.name_footer {
    font-family: var(--font-allison);
    font-size: 72px;
    height: 80px;
    line-height: 0.85em;
}

.address_footer {
    font-size: 20px;
    line-height: 2em;
    height: 100px;
    margin-top: 20px;
}

.name_footer_reserve {
    display: none;
}

@media (max-width: 900px) {
    .address_footer {
        font-size: 18px;
        margin-top: 26px;
    }

    .name_footer {
        font-size: 64px;
        line-height: 1em;
    }
}

@media (max-width: 700px) {
    .address_footer {
        font-size: 16px;
        margin-top: 30px;
    }

    .name_footer {
        font-size: 60px;
        line-height: 1.1em;
    }
}

@media (max-width: 620px) {
    .data_footer_left {
       width: 40%;
    }

    .data_footer_right {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .data_footer_left {
       display: none;
    }

    .data_footer_right {
        width: 100%;
    }

    .name_footer_reserve {
        display: block;
        height: 50px;
    }

}

@media (max-width: 400px) {

    .data_footer_center {
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 350px) {

    .name_footer_reserve {
        height: 36px;
        font-size: 40px;

    }

    .address_footer {
        font-size: 12px;
        margin-top: 30px;
    }

}

@media (max-width: 265px) {

    .data_footer_center {
        top: 95px;
        left: 10px;
    }
}

