.navbar a {
    color: inherit;
    text-decoration: inherit;
}

.navbar {
    top: 0;
    position: sticky;
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    height: var(--navbar-height);
    color: var(--navbar-links-color);
    font-family: var(--navbar-font);
    font-size: 16px;
}


.navbar .links__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.active__link {
    color: #a9a9a9;
}

.nav-logo {
        font-family: var(--font-allison);
        color: white;
        font-size: 45px;
        white-space: nowrap;
}

.nav-logo h1 {
    line-height: 1;
}

.navbar__switcher__availableLocale{
    transition: 0.5s;
}

.navbar__switcher__availableLocale:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {

}
