.portfolio_albums_list {
    width: 70vw;
    height: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.portfolio_albums_title {
    width: 20vw;
    height: 11.25vw;
    background-size: 100% 100%;
    border-radius: 1vw;
    position: relative;
}

.album_title_display_none {
    display: none;
}

.album_cover_name {
    width: 100%;
    height: 3vw;
    text-align: center;
    font-family: var(--font-allison);
    font-size: 3vw;
    line-height: 4.3em;
    transform: rotateZ(-10deg);
}

.album_cover_name_de {
    width: 100%;
    height: 3vw;
    text-align: center;
    font-family: var(--font-allison);
    font-size: 3vw;
    line-height: 3em;
    transform: rotateZ(-10deg);
    position: absolute;
    left: 0px;
    right: 0px;
}

.opacity_color {
    color: #ffffff00;
}

.portfolio_text {
    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-long-text);
    font-size: 40px;
    text-align: justify;
}

.main_container_for_slider {
    width: 70vw;
    height: 39.375vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 20px;
}

#container_for_slider {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
}

.img_for_slider {
    width: 100%;
    height: 100%;
}

.defense_copy {
    width: 100%;
    height: 100%;
    left: 0vw;
    top: 0vw;
    position: absolute;
    z-index: 98;
}

.button_scroll {
    position: absolute;
    z-index: 99;
    width: 3.6vw;
    height: 1.2vw;
    top: 19.0875vw;
    background-color: gray;
    opacity: 0.6;
    clip-path: polygon(0% 0%,10% 5%,20% 10%,30% 15%,40% 20%,50% 25%,60% 30%,70% 35%,80% 40%,90% 45%,100% 50%,
                        90% 55%,80% 60%,70% 65%,60% 70%,50% 75%,40% 80%,30% 85%,20% 90%,10% 95%,0% 100%,10% 50%,0% 0%);
}

#scroll_left {
    left: 1vw;
    // display: none;
    transform: rotateZ(180deg);
}

#scroll_right {
    right: 1vw;
}

.button_scroll:hover {
    opacity: 0.9;
}

.button_scroll:active {
    clip-path: polygon(0% 0%,10% 12%,20% 18.5%,30% 25.5%,40% 31%,50% 35.5%,60% 39%,70% 43%,80% 46.5%,90% 48%,100% 50%,
    90% 52%,80% 53.5%,70% 57%,60% 61%,50% 64.5%,40% 69%,30% 74.5%,20% 81.5%,10% 88%,0% 100%,3% 50%,0% 0%);
    opacity: 0.9;
}

@media (max-width: 1400px) {

    .main_container_for_slider {
        width: 80vw;
        height: 45vw;
    }

    .button_scroll {
        top: 21.9vw;
    }

    .portfolio_albums_list {
        width: 80vw;
        height: 18vw;
    }

    .portfolio_albums_title {
        width: 24vw;
        height: 13.5vw;
    }

    .album_cover_name {
        line-height: 4em;
    }

    .album_cover_name_de {
        line-height: 2.6em;
    }
}

@media (max-width: 1300px) {

    .main_container_for_slider {
        width: 90vw;
        height: 50.625vw;
    }

    .button_scroll {
        top: 24.7125vw;
    }


    .portfolio_albums_list {
        width: 90vw;
        height: 20vw;
    }

    .portfolio_albums_title {
        width: 28vw;
        height: 15.75vw;
    }

    .album_cover_name {
        line-height: 3.7em;
        height: 4vw;
        font-size: 4vw;
    }

    .album_cover_name_de {
        line-height: 2.2em;
        height: 4vw;
        font-size: 4vw;
    }
}

 @media (max-width: 800px) {

     .album_cover_name {
         height: 5vw;
         font-size: 5vw;
         line-height: 3em;
     }

     .album_cover_name_de {
        height: 5vw;
        font-size: 5vw;
        line-height: 1.4em;
    }

     .portfolio_text {
        font-size: 32px;
    }
 }

 @media (max-width: 500px) {

    .album_cover_name {
        height: 6vw;
        font-size: 6vw;
        line-height: 2.5em;
    }

    .album_cover_name_de {
        height: 6vw;
        font-size: 6vw;
        line-height: 1em;
    }

    .portfolio_text {
       font-size: 24px;
   }
}

@media (max-width: 350px) {

    .album_cover_name {
        height: 7vw;
        font-size: 7vw;
        line-height: 2em;
    }

    .album_cover_name_de {
        height: 7vw;
        font-size: 6vw;
        line-height: 0.6em;
    }

    .portfolio_text {
       font-size: 20px;
   }
}

@media (max-width: 280px) {

    .album_cover_name {
        height: 7.5vw;
        font-size: 7.5vw;
        line-height: 1.8em;
    }

    .album_cover_name_de {
        height: 7.5vw;
        font-size: 6vw;
        line-height: 0.3em;
    }

    .portfolio_text {
       font-size: 16px;
   }

   .contacts_name_page {
    font-size: 36px;
   }
}
