.portfolio_albums_list {
    width: 70vw;
    height: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.portfolio_albums_title {
    width: 20vw;
    height: 11.25vw;
    background-size: 100% 100%;
    border-radius: 1vw;
}

.album_title_display_none {
    display: none;
}

.album_cover_name {
    width: 100%;
    height: 3vw;
    text-align: center;
    font-family: var(--font-allison);
    font-size: 3vw;
    line-height: 3.5em;
    transform: rotateZ(-10deg);
}

.portfolio_text {
    margin-top: 30px;
    font-family: var(--font-allison);
    font-size: 30px;
    text-align: center;
}

.main_container_for_slider {
    width: 70vw;
    height: 39.375vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
}

#container_for_slider {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    transition: left 0.5s linear;
}

.img_for_slider {
    width: 100%;
    height: 100%;
}

.button_scroll {
    position: absolute;
    z-index: 99;
    width: 3.5vw;
    height: 1.4vw;
    top: 1vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}

#scroll_left {
    left: 27vw;
    clip-path: polygon(0% 30%, 8% 27.5%, 8% 37.5%, 16% 40%, 16% 35%, 16% 40%, 8% 37.5%, 8% 27.5%, 20% 24%,
    22% 25%, 23.5% 30%, 24% 35%, 24% 40%, 23.5% 35%, 22% 48%, 20% 50%, 22% 52%, 23.5% 55%, 24% 60%, 24% 65%,
    23.5% 70%, 22% 75%, 26% 77%, 33% 21%, 37.5% 19%, 37.5% 40%, 35.5% 55%, 39.5% 56%, 37.5% 40%, 37.5% 19%,
    42% 18%, 49% 83%, 56% 85%, 53% 79%, 52% 75%, 51.5% 70%, 51% 65%, 51% 35%, 51.5% 30%, 52% 25%, 53% 21%,
    56% 15%, 58% 13.5%, 64% 12%, 68% 11.5%, 70% 12%, 72% 13.5%, 74% 15%, 74% 35%, 72% 36%, 69% 37.5%,
    67.5% 40%, 66.3% 45%, 66% 50%, 66.3% 55%, 67.5% 60%, 69% 62.5%, 72% 64%, 74% 65%, 74% 85%, 72% 86.5%, 70% 88%, 68% 88.5%,
    76% 91%, 76% 7.5%, 84% 6%, 84% 30%, 100% 0%, 100% 30%, 88% 50%, 100% 70%, 100% 100%, 84% 70%, 84% 95%,
    42% 82%, 40.7% 67.5%, 34% 65%, 32.5% 79%, 8% 72.5%, 8% 62.5%, 16% 65%, 16% 60%,
    8% 62.5%, 8% 72.5%, 0% 70%, 0% 30%);
    display: none;
}

#scroll_right {
    right: 27vw;
    clip-path: polygon(0 0, 8% 3%, 16% 25%, 16% 5%, 24% 8%, 24% 90%, 26% 91%, 26% 9%, 49% 15%, 49% 35%,
    34% 32%, 34% 38%, 49% 42%, 49% 58%, 34% 63%, 34% 69%, 49% 65%, 49% 82%, 51% 81%, 57% 50%, 51% 16%, 59% 18%,
    63% 40%, 66% 20%, 74% 22.5%, 70% 50%, 73.7% 75%, 82% 73%, 82% 45%, 76% 43.5%, 76% 23.5%, 100% 30%, 100% 50%,
    94% 48%, 94% 72%, 66% 80%, 63% 60%, 59% 82%, 16% 95%, 8% 75%, 8% 97%, 0% 100%);
}

.button_scroll:hover {
    opacity: 0.9;
}

@media (max-width: 1400px) {

    .main_container_for_slider {
        width: 80vw;
        height: 45vw;
    }

    #scroll_left {
        left: 32vw;
    }

    #scroll_right {
        right: 32vw;
    }

    .portfolio_albums_list {
        width: 80vw;
        height: 18vw;
    }

    .portfolio_albums_title {
        width: 24vw;
        height: 13.5vw;
    }

    .album_cover_name {
        line-height: 4em;
    }
}

@media (max-width: 1300px) {

    .main_container_for_slider {
        width: 90vw;
        height: 50.625vw;
    }

    #scroll_left {
        left: 37vw;
    }

    #scroll_right {
        right: 37vw;
    }


    .portfolio_albums_list {
        width: 90vw;
        height: 20vw;
    }

    .portfolio_albums_title {
        width: 28vw;
        height: 15.75vw;
    }

    .album_cover_name {
        line-height: 3.7em;
        height: 4vw;
        font-size: 4vw;
    }
}

 @media (max-width: 800px) {

     .album_cover_name {
         height: 5vw;
         font-size: 5vw;
         line-height: 3em;
     }

     .portfolio_text {
        font-size: 24px;
    }
 }

 @media (max-width: 500px) {

    .album_cover_name {
        height: 6vw;
        font-size: 6vw;
        line-height: 2.5em;
    }

    .portfolio_text {
       font-size: 20px;
   }
}

@media (max-width: 350px) {

    .album_cover_name {
        height: 7vw;
        font-size: 7vw;
        line-height: 2em;
    }

    .portfolio_text {
       font-size: 16px;
   }
}

@media (max-width: 280px) {

    .album_cover_name {
        height: 7.5vw;
        font-size: 7.5vw;
        line-height: 1.8em;
    }

    .portfolio_text {
       font-size: 14px;
   }

   .contacts_name_page {
    font-size: 36px;
   }
}
