.watter__mark {
    top: 0;
    right: 5%;
    font-family: var(--font-allison);
    color: white;
    font-size: 70px;
    white-space: nowrap;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.swiper,
.swiper-container {
    text-rendering: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .imgGlass {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.swiper,
.swiper-container {
    width: calc(100vw - 20px);
    height: calc(56.25vw - 11.25px);
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    // height: calc(100vh - var(--navbar-height));
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    opacity: 0.2;
    transition: 0.5s;

    @media (max-width: 500px) {
        display: none;
        pointer-events: none;
    }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 1;
}

.gallery-thumbs {
    position: absolute;
    bottom: 0;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
