.title_4 {
    color: #000000d0;
    top: 5vw;
    left: 12vw;
}

.text_4 {
    color: #000000d0;
    bottom: 12.5vw;
    right: 15vw;
}

.title_5 {
    color: #ffffffd0;
    top: 5vw;
    right: 15vw;
}

.text_5 {
    color: #ffffffd0;
    bottom: 12.5vw;
    left: 12vw;
}

#application_form {
    width: calc(100vw - 40px);
    height: calc(56.25vw - 22.5px);
    margin-top: 20px;
    margin-left: 9px;
}

