:root {

    // --font-allison: 'Allison', cursive;
    --font-allison: 'Allison Script', sans-serif;
    --font-lora: 'Lora', serif;

    /* navbar */
    --navbar-height: 50px;
    --navbar-links-color: white;
    --navbar-font: var(--font-lora);
}
