:root {

    // --font-allison: 'Allison', cursive;
    --font-allison: 'Allison Script', sans-serif;
    --font-lora: 'Lora', serif;
    --font-long-text: 'Night Stalker', sans-serif;



    /* navbar */
    --navbar-height: 50px;
    --navbar-links-color: white;
    --navbar-font: var(--font-lora);
    user-select: none;
}
