:root {

    @font-face {
        font-family: 'Allison_Script';
        src:
          url("../variables/fonts/Allison_Script.otf") format("otf");
      };


    --font-allison: 'Allison', cursive;
    --font-lora: 'Lora', serif;

    /* navbar */
    --navbar-height: 50px;
    --navbar-links-color: white;
    --navbar-font: var(--font-lora);
}
