
.btn-group > .btn.btn-primary {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.btn-group .btn.btn-delete{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
