.img-thumbnail{
    width: 100%;
}

.image-controls,
.album-controls {
    position: absolute;
    top: 10px;
    right: 20px;
}

.image-controls .btn-outline-warning,
.album-controls .btn-outline-warning{
    padding: 0 3.5px !important;
    border-radius: 0.2rem !important;
}

.image-controls i,
.album-controls i{
    color: inherit;
}

.image-controls .btn-delete {
    background: unset;
    border: unset;
    color: inherit;
}

.image-controls .btn-delete:hover,
.image-controls .dropdown-menu form.dropdown-item:hover{
    background: unset;
    color: #dc1e1e;
}

.album-card {
    transition: transform 0.5s;
}

.album-card:hover {
    transform: scale(1.05);
}

.album-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    background: linear-gradient(0deg, #24262a, rgba(52, 58, 64, 0.2)) repeat-x;
    transition: 0.5s;
}

