.albumImageCards {
    margin: 0;
    padding: 0;
    width: 100%;
}

.albumImageCards {
    position: relative;
    min-height: 100%;
    .album_images {
        position: relative;
        margin: 3px;
        padding: 1px;
        float: left;
        width: 500px;
        height: fit-content;
        text-align: center;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200%;
        }
    }
}

#sortable .ui-selected {
    width: 100px!important;
    background: #F39814;
    color: white;
}

.albumImageCards {
    overflow-x: hidden;
}
#contextMenu {
    display: none;
    position: absolute;
    z-index: 1000;
}
