
#sortable .ui-selected {
    //width: 100px!important;
    background: #F39814;
    color: white;
}

.albumImageCards {
    overflow-x: hidden;
}
#contextMenu {
    display: none;
    position: absolute;
    z-index: 1000;
}
.image-container {
    min-width: 190px;
}
.ui-droppable-active {
    opacity: 0.6;
}
